body{
background:#121212;
color:white;
font-family:Arial;

display:flex;
justify-content:center;

margin-top:60px;
}

.container{
width:400px;
}

.progress{

width:100%;

max-width:700px;

height:14px;

background:#262626;

border-radius:999px;

overflow:hidden;

margin:auto;

margin-top:20px;

}



#fill{

width:0%;

height:100%;

background:lime;

border-radius:999px;

transition:

width 1s linear;

}

input{
width:100%;

padding:10px;

margin-top:20px;

background:#222;

color:white;

border:none;

border-radius:10px;
}

button{
padding:10px;

margin-right:10px;

margin-top:15px;

cursor:pointer;
}

#slots{
margin-top:30px;
}

#celebration{

margin-top:15px;

font-size:22px;

color:gold;

font-weight:bold;

}

.timer-wrapper{

display:flex;

justify-content:center;

margin-top:40px;

margin-bottom:30px;

}

.circle{

width:260px;
height:260px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

position:relative;



--progress:0deg;



background:

conic-gradient(

lime 0deg,

lime var(--progress),

#262626 var(--progress),

#262626 360deg

);



transition:

--progress 1s linear;



box-shadow:

0 0 40px

rgba(
0,
255,
120,
0.25

);

}

#timer{

font-size:34px;

background:#121212;

width:220px;

height:220px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

}

@property --progress{
syntax: "<angle>";
inherits: false;
initial-value: 0deg;
}

@media (max-width:768px){

body{

padding:20px;

}



.timer-wrapper{

margin-top:25px;

}



.circle{

width:210px;

height:210px;

}



.circle::before{

width:180px;

height:180px;

}



#timer{

font-size:28px;

}



input{

width:100%;

box-sizing:border-box;

}



button{

width:100%;

margin-top:10px;

}



.progress{

width:100%;

}



#todayTotal{

font-size:18px;

}



#slots{

font-size:15px;

}

}